<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DeveYangPhotoPicker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>183677881C5755EC00789D20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>183677A11C5755ED00789D20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>183677AC1C5755ED00789D20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
